<main>
  <section class="hero">
    <div class="row middle-md">
      <div class="col-xs-12 col-md-5">
        <div class="box">
          <h1 class="title">All About Us</h1>
          <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. A sed exercitationem autem. Nobis, inventore porro repudiandae suscipit tempora similique ducimus illo sequi ea vero sapiente, minima iure fugiat voluptate accusamus.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-5 col-md-offset-2">
        <div class="box">
          <img src="https://www.masoodgraphics.com/img/sections/bg/about%20us.png" alt="About Us" class="image">
        </div>
      </div>
    </div>
  </section>
</main>