<section class="hero">
  <div class="row middle-xs">
    <div class="col-xs-12 col-md-5">
      <div class="box">
        <h1 class="title">Contact</h1>
        <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt rem maiores quaerat fugit aliquid nihil libero molestias nostrum recusandae repellendus ducimus facilis aspernatur adipisci laboriosam, at officia officiis. Labore, adipisci!</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-5 col-md-offset-2">
      <div class="box">
        <img src="https://lh3.googleusercontent.com/proxy/dWiFGm9OrHwNy0H1bYYthYhQxZHJ2hCLMBRRpMAN4e55yiZHyJvEkKNFsp-DTWndc72YQX2arZurisUMDKFZ9ilBgAMruv4UVL6TPNo4lw" alt="Contact image" class="image">
      </div>
    </div>
  </div>
</section>
<section class="contact">
  <div class="row middle-xs">
    <div class="col-xs-12 col-md-5">
      <div class="box">
        <h2 class="title">Si tienes alguna duda contactanos</h2>
        <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem eius amet voluptatibus quas quidem.</p>
        <div class="info">
          <mat-divider></mat-divider>
          <p><mat-icon aria-hidden="false" aria-label="location icon">location_on</mat-icon><strong>Dirección: </strong><span>Lorem ipsum dolor, sit amet</span></p>
          <mat-divider></mat-divider>
          <p><mat-icon aria-hidden="false" aria-label="location icon">email</mat-icon><strong>Email: </strong><span>lorem@ipsum.com</span></p>
          <mat-divider></mat-divider>
          <p><mat-icon aria-hidden="false" aria-label="location icon">phone</mat-icon><strong>Teléfono: </strong><span>(123) 456 7890</span></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-5 col-md-offset-2">
      <div class="box">
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput type="text" placeholder="John Doe">
          <mat-hint></mat-hint>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Asunto</mat-label>
          <input matInput type="text" placeholder="My subject">
          <mat-hint></mat-hint>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="John@gmail.com">
          <mat-hint></mat-hint>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Textarea</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary">Enviar</button>
      </div>
    </div>
  </div>
</section>